/* * {
  border: 2px dashed red;
} */

.main {
  margin: 10px;
}

.main header, main, footer {
  padding: 0 20px;
  border: 2px dashed red;
}

.main main {
  min-height: 400px ;

}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

